@{
    ViewBag.Title = "Home Page";
}

<div class="my-4 justify-content-between">
    <div class="card text-center" style=" width: 36em;">
        <div class="card-header">
            My Cafe
        </div>
        <div class="card-body">
            <h5 class="card-title">Fill Invoice</h5>
            <div>
                <select class="form-control" id="drpFoodItem" >
                    <option>@ViewBag.foodItem</option>
                    
                </select>
            </div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</div>